*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  min-height: 100vh;
}

.add-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media screen and (max-width: 767px) {
  .add-wrapper {
    flex-direction: column;
  }
}
